.middle-card {
  margin-top: 4px;
}
.flex-order-2 {
  order: 2;
}
.middle-card {
  height: 100px;
  margin-bottom: 24px;
  .col-md-8 {
    line-height: 20px;
    .title-post {
      max-height: 50px;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .row {
    display: flex;
  }
}
