.flex-order-2 {
  order: 2;
}
.middle-card {
  .content-post {
    padding-top: 8px;
    line-height: 20px;
    .title-post {
      max-height: 135px;
    }
  }
  h3 {
    font-size: 18px;
  }
  .row {
    display: flex;
  }
}
.post-summary-middle {
  width: 190px;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
}
