.HomePage {
  .NewFeature {
    padding-top: 24px; 
  }
  .content-card {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }
  @media (max-width: 992px) {
    .right {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .middle {
      margin-top: 24px;
      .col-4 {
        order: 2;
      }
    }
    .left {
      .content-post {
        margin-left: 0px;
        width: 100%;
        padding-right: 104px;
      }
    }
  }
  .see-all {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    color: #018f69!important;
    fill: #018f69!important;
    font-size: inherit;
  }
  .SeveralFeature {
    .h3-feature {
      margin-top: 24px;
      font-size: 24px;
    }
    .second {
      h3 {
        margin-top: 76px;
        font-size: 18px;
      }
    }
    .header-feature {
      margin-top: 12px;
      width: 100%;
      display: flex;
      .left-more {
        width: 80%;
      }
      .right-more {
        margin-top: 24px;
        width: 20%;
        text-align: right;
      }
    }
  }
}
