.Post { 
    .button {
    margin-left: 10px;
    border: 1px solid #3E8432;
    border-radius: 3px;
    color: #3E8432;
    display: inline-block;
    padding: 2px 8px;
  }
  
  .main-title {
    margin-bottom: 24px;
    max-width: 72%;
  }
  
  .main-image img {
    max-width: 100%;
    margin-bottom: 50px;
  }
  
  .date {
    color: grey;
    margin-left: 48px;
  }
  
  .container {
    margin-top: 72px;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
  }
  .profile {
    margin-top: 12px;
    i {
      font-size: 24px;
      float: right;
    }
  }
  .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  span {
    margin: auto 8px;
  }
  .red {
    color: red;
  }

  .content-post {
    margin: 12px auto;
    line-height: 24px;
    img {
      height: 250px;
      width: 80%;
      display: block;
    }
  }
  @media (max-width: 768px) {
    .main-title {
      font-size: 24px;
    }
  }
}
