@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://static.fontawesome.com/css/fontawesome-app.css');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  * {
    margin: 0;
    padding: 0;
  }
  .font-weight-600 {
    font-weight: 600!important;
  }
  .font-weight-400 {
    font-weight: 400!important;
  }
  .divider {
    margin: 24px auto;
    border-bottom: 1px solid rgba(0,0,0,.15);
  }
  a:hover {
    cursor: pointer;
  }
  .ellipsis {
    width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
  }
}
